@media (max-width: 768px) {
  .arcade-screen-video {
    width: 44% !important;
    top: 33% !important;
    max-height: 38% !important;
  }
}

@media (max-width: 400px) {
  .arcade-screen-video {
    width: 44% !important;
    top: 33% !important;
    max-height: 36% !important;
  }
}